[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Quickddit
DBusActivatable=true
Icon=harbour-quickddit
Exec=harbour-quickddit %U
MimeType=x-url-handler/reddit.com;x-url-handler/www.reddit.com;x-url-handler/old.reddit.com
X-Maemo-Service=nl.outrightsolutions.Quickddit
X-Maemo-Object-Path=/nl/outrightsolutions/Quickddit
X-Maemo-Method=org.quickddit.view.openURL

[X-Sailjail]
Permissions=Internet;Audio;Pictures;WebView;Notifications
OrganizationName=nl.outrightsolutions
ApplicationName=Quickddit
ExecDBus=harbour-quickddit --prestart