[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Name=Quickddit
X-DBusActivatable=true
Icon=harbour-quickddit
Exec=harbour-quickddit %U
MimeType=x-url-handler/reddit.com;x-url-handler/www.reddit.com;x-url-handler/old.reddit.com

[X-Sailjail]
Permissions=Internet;Audio;Pictures;WebView
OrganizationName=org.quickddit
ApplicationName=Quickddit
ExecDBus=harbour-quickddit --prestart
